.mainWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.trackedContainer > *:last-child {
  margin-bottom: 7.5vh;
}

h2 {
  margin: 10px auto 0px;
  color: #f07b40;
}

.footer {
  position: fixed;
  bottom: 0px;
  height: 7vh;
  width: 100%;
}