.loginMainWrapper {
  height: auto;
  width: 250px;
  background-color: #022249;
  position: fixed;
  align-self: center;
  z-index: 2;
  padding: 10px 15px;
  color: #f07b40;
  font-weight: bold;
  border-radius: 3px;
}

.header {
  margin: 25px;
  border-bottom: 1px solid #683216;
}
.header > h2 {
  margin: 0;
}

.btn {
  border: 1px solid #683216;
  padding: 8px;
  width: 100%;
  margin: 5px 0px;
  background-color: #f07b40;
  font-weight: bold;
  color: #022249;
  font-size: 15px;
}
.errorText {
  color: red;
  opacity: 1;
  animation: fadeOut 2s;
  animation-delay: 3s;
}
/* @keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
} */

 /* removed keyframes ergo error fade 
TODO: find a way to implement it in way that doesn't cause
the new error to be at opacity 0 */