.mainWrapper {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 95%;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    align-items: center;
}
h3 {
    color: #F07B40;
    margin: 0 auto;
}
.dropDownMain {
    width: 200px;
    margin-top: 10px;
}
@media only screen and (min-width: 768px) {
    .dropDownMain {
        align-self: center;
    }
}

.dropDownControl {
    border: 1px solid #f2d298;
}

.navRouteWrapper {
    display: flex;
    justify-content: center;
    height: 40%;
    width: 90%;
}
.navRouteWrapper > div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.navRouteWrapper > div > button {
    margin: 0 13px;
    height: 50px;
    background-color: #DF622C;
    border: 1px solid #E85515;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    font-size: 16px;
}

.navRouteWrapper > div > button:hover {
    background-color: #e08158;
}
.navRouteWrapper > div > button:active {
    background-color: #e08158;
}

.movieNavWrapper {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 60%;
    justify-content: space-around;
}
@media only screen and (min-width: 768px) {
    .movieNavWrapper {
        align-items: center;
    }
}

.movieNavWrapper > div > button {
    margin: 10px 13px;
    height: 40px;
    background-color: #DF622C;
    border: 1px solid #E85515;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    width: 120px;
    font-size: 16px;
}

@media only screen and (min-width: 768px) {
    .dropDown {
        display: flex;
        flex-direction: column;
    }
}