.homePageLayout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
.movieCellWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .movieCellWrapper {
    display: flex;
    flex-direction: row;
    position: inherit;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.movieCellWrapper > *:last-child {
  margin-bottom: 50px;
}


