.homePageLayout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
.movieCellWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .movieCellWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 3%;
    margin-bottom: 50px;
    align-self: start;
  }
}
.movieCellWrapper > *:last-child {
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .movieCellWrapper > *:last-child {
    margin-bottom: 0px;
  }
}


