.movieCellWrapper {
  display: flex;
  flex-direction: row;
  height: 135px;
  width: 95%;
  border-radius: 5px;
  background-color: #1D3437;
  align-self: center;
  margin-top: 2%;
  position: relative;
  transition: .7s ease-in-out;
}


.movieImageWrapper {
  width: 35%;
  display: flex;
  align-items: center;
  transition: .7s ease-in-out;

}
.largeMovieImageWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  transition: .9s ease-out;
}

.movieInfoWrapper {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
}

.movieImage {
  height: auto;
  width: 100%;
  transition: .5s ease-in-out;
}
.largeMovieImage {
  height: auto;
  width: 100%;
  transition: .5s ease-in-out;
}
.title {
  display: flex;
  height: 40%;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  flex-direction: column;
}

.largeTitle {
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}
.bio {
  height: 80%;
  color: white;
  font-size: 0.8rem;
  overflow: hidden;
  padding: 5px;
}
.largeBio {
  height: 60%;
  color: white;
  font-size: 0.9rem;
  overflow: scroll;
  padding: 10px;
}
.titleScore {
  align-self: center;
  color: #F07B40;
}

.icon {
  position: relative;
  top:2px;
}