@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.headerWrapper {
  height: 10%;
  width: 100%;
  background-color: #1D3437;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F07B40;
  font-weight: bold;
  font-family: 'Oswald', 'sans-serif';
}
.loginText {
  position: absolute;
  left: 0;
  padding-left: 10px;
}

.loginText:hover {
  cursor: pointer;
}